<div class="m-2">
    <mat-card class="w-full lg:w-4/12 m-2 ml-auto mr-auto mt-10 dark:bg-slate-700">
        <mat-card-content class="text-center text-2xl text-blue-500">Login</mat-card-content>

        <div class="text-center mt-5">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field class="w-full pl-4 pr-4">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" autocomplete="username" formControlName="username">
                </mat-form-field>

                <mat-form-field class="w-full pl-4 pr-4 ">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" autocomplete="password" formControlName="password">
                </mat-form-field>

                <section class="flex justify-start ml-4">
                    <mat-form-field>
                        <mat-label>Captcha</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="captcha">
                    </mat-form-field>

                    <button mat-icon-button type="button" color="primary" (click)="getCaptcha()">
                        <mat-icon class="mat-18">autorenew</mat-icon>
                    </button>

                    <div class="">
                        <span #captchaContainer></span>
                    </div>
                </section>


      


                <section class="mb-10">
                    <button mat-raised-button class="border-radius-btn"  style="background-color: #4ca5ff; color: white">Login</button>
                </section>
            </form>
        </div>
    </mat-card>

    <div class="flex text-center justify-center">
        <p class="mr-3">Don't have an account?</p>
        <a routerLink="/registration" class="text-blue-700 underline">SIGN UP</a>
    </div>
</div>



<!-- <div class="custom-form-field">
    <input type="text" id="inputField1" class="custom-input" placeholder=" ">
    <label for="inputField1" class="floating-label">Outline form field</label>
</div> -->



<!-- <mat-form-field _ngcontent-ng-c2913554671=""
    class="mat-mdc-form-field w-full pl-4 pr-4 form-custom-field ng-tns-c1205077789-0 mat-mdc-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-hide-placeholder mat-primary ng-untouched ng-pristine ng-invalid ng-star-inserted">
    <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c1205077789-0 mdc-text-field--filled">
        <div class="mat-mdc-form-field-focus-overlay ng-tns-c1205077789-0 ng-star-inserted"></div>
        <div class="mat-mdc-form-field-flex ng-tns-c1205077789-0">
            <div class="mat-mdc-form-field-infix ng-tns-c1205077789-0 //////// i want to apply there padding and margin 0 using css select to taget that div"><label matformfieldfloatinglabel=""
                    class="mdc-floating-label mat-mdc-floating-label ng-tns-c1205077789-0 ng-star-inserted"
                    ng-reflect-floating="false" ng-reflect-monitor-resize="false" id="mat-mdc-form-field-label-0"
                    for="mat-input-0">
                    <mat-label _ngcontent-ng-c2913554671="" class="ng-tns-c1205077789-0">Username</mat-label><span
                        aria-hidden="true"
                        class="mat-mdc-form-field-required-marker mdc-floating-label--required ng-tns-c1205077789-0 ng-star-inserted"></span></label><input
                    _ngcontent-ng-c2913554671="" matinput="" type="text" autocomplete="username"
                    formcontrolname="username"
                    class="mat-mdc-input-element ng-tns-c1205077789-0 mat-mdc-form-field-input-control mdc-text-field__input ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored"
                    ng-reflect-type="text" ng-reflect-name="username" id="mat-input-0" required="" aria-required="true">
            </div>
        </div>
        <div matformfieldlineripple=""
            class="mdc-line-ripple ng-tns-c1205077789-0 mdc-line-ripple--deactivating ng-star-inserted"></div>
    </div>
    <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c1205077789-0"
        ng-reflect-ng-switch="hint">
        <div class="mat-mdc-form-field-hint-wrapper ng-tns-c1205077789-0 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
            style="opacity: 1; transform: translateY(0%);">
            <div class="mat-mdc-form-field-hint-spacer ng-tns-c1205077789-0"></div>
        </div>
    </div>
</mat-form-field> -->