<div>
    <mat-card class="w-full lg:w-4/12 m-2 ml-auto mr-auto mt-10">
        <mat-card-content class="text-center text-2xl text-blue-500">Login</mat-card-content>

        <div class="text-center mt-5">
            <mat-form-field class="w-full pl-4 pr-4 ">
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="w-full pl-4 pr-4 ">
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>

            <section class="mb-10">
                <button mat-raised-button class="border-radius-btn">Login</button>
            </section>
        </div>
    </mat-card>

    <div class="flex text-center justify-center">
        <p class="mr-3">Don't have an account?</p>
        <a routerLink="/registration" class="text-blue-700 underline">SIGN UP</a>
    </div>
</div>