.submit-btn{
    border-radius: 2rem;
    background-color: #32e805;
    color: #fff;
    padding: 1.3rem;
    font-size: large;
}

.reg-btn-dark {
    background-color: #32e805;
    color: #fff;
  }
  
  /* Override styles for dark theme */
  html.dark .reg-btn-dark {
    background-color: #20a100 !important;
  }