<nav class="flex flex-row justify-between bg-blue-500 text-white p-3">
    <section class="text-2xl">
        Expense Management System
    </section>
    <section class="flex flex-row">
        <div>
            <button mat-button (click)="navigateTo('/')" style="font-size: 1.1rem; color: white;">
                <fa-icon [icon]="faHome" class="mr-0.5"></fa-icon>
                Home
            </button>
        </div>

        <div>
            <button mat-button (click)="navigateTo('/about')" style="font-size: 1.1rem; color: white;">About</button>
        </div>

        <!-- <div>
            <button mat-button (click)="navigateTo('/login')" style="font-size: 1.1rem; color: white;">
                <fa-icon [icon]="faUser" class="mr-0.5"></fa-icon>
                Login
            </button>
        </div> -->

        <div>
            <button mat-button *ngIf="!authService.isLoggedIn" (click)="navigateTo('/login')"
                style="font-size: 1.1rem; color: white;">
                <fa-icon [icon]="faUser" class="mr-0.5"></fa-icon>
                Login
            </button>
            <button mat-button *ngIf="authService.isLoggedIn" (click)="logout()"
                style="font-size: 1.1rem; color: white;">
                <fa-icon [icon]="faSignOutAlt" class="mr-0.5"></fa-icon>
                Logout
            </button>
        </div>
    </section>
</nav>