<nav class="flex flex-row justify-between navbar-color text-white p-3">
    <section class="text-2xl">
        Expense Management System
        <span class="">
            <fa-icon [icon]="faGlobe" class="text-xs {{isOnline ? 'text-green-500' : 'text-red-500'}}"></fa-icon>
        </span>
    </section>
    <section class="flex flex-row">
        <div>
            <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link">
                <fa-icon [icon]="faHome" class=""></fa-icon>
                Home
            </a>
        </div>

        <div>
            <a routerLink="/about" routerLinkActive="active-link" class="nav-link">
                <fa-icon [icon]="faCircleInfo" class=""></fa-icon>
                About
            </a>
        </div>

        <div>
            <a *ngIf="authService.isLoggedIn && authService.currentUserData.role ==='admin'" routerLink="/admin"
                routerLinkActive="active-link" class="nav-link">
                <fa-icon [icon]="faUserShield" class=""></fa-icon>
                <!-- Admin -->
                {{authService.currentUserData.username}}
            </a>
            <a *ngIf="authService.isLoggedIn && authService.currentUserData.role ==='user'" routerLink="/user"
                routerLinkActive="active-link" class="nav-link">
                <fa-icon [icon]="faUserShield" class=""></fa-icon>
                <!-- User -->
                {{authService.currentUserData.username}}
            </a>
        </div>

        <div>
            <!-- <button mat-button *ngIf="!authService.isLoggedIn" routerLinkActive="active-link" (click)="navigateTo('/login')"
                style="font-size: 1.1rem; color: white;">
                <fa-icon [icon]="faUser" class=""></fa-icon>
                Login
            </button>
            <button mat-button *ngIf="authService.isLoggedIn" (click)="logout()"
                style="font-size: 1.1rem; color: white;">
                <fa-icon [icon]="faSignOutAlt" class=""></fa-icon>
                Logout
            </button> -->

            <a *ngIf="!authService.isLoggedIn" routerLinkActive="active-link" routerLink="/login" class="nav-link">
                <fa-icon [icon]="faUser" class=""></fa-icon>
                Login
            </a>
            <a *ngIf="authService.isLoggedIn" (click)="logout()" class="nav-link">
                <fa-icon [icon]="faSignOutAlt" class=""></fa-icon>
                Logout
            </a>
        </div>

        <div>
            <button class="" (click)="toggleDarkMode()">
                <fa-icon [icon]="faCircleHalfStroke" class="text-slate-900 dark:text-slate-50"></fa-icon>
            </button>
        </div>
    </section>
</nav>